* { padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

canvas {
  border: 1px dotted silver;
}
#drawCanvas:hover, #drawCanvas:active {
  cursor: url(''), 
  pointer;
}

#drawCanvas { background: #fcfcfc; }

#brushSizeDisplay { display: inline-block; }