/* Markers
 * Scono, Henry Jack, 2018
 * All rights reserved
*/

/* Page */
* { padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Noto Sans', arial, sans-serif; }
body { background-color: #141414; color: #fff; }
html, body {margin: 0; height: 100%; overflow: hidden; }
#pixie { top: 0; left: 0; max-height: 100%; position: absolute; z-index: -1; }

/* Text */
#TEXT-Title { text-align: center; font-size: 32px; margin: -10px 0px -15px 0px; padding: 0px; font-family: 'Advent Pro', 'Noto Sans', arial, sans-serif; }
#TEXT-Description { font-size: 11px; color: #afafaf; text-align: center; padding: 0px; margin: -10px 0px 2px 0px; font-style: italic; }
#GAME-Setting-Word, #GAME-Setting-Round { display: inline-block; padding: 0px 0px 5px 0px; margin: 0px; }

/* Chat */
#INPUT-Guess { bottom: 24px; width: 325px; max-width: 100%; position: absolute; left: 10px; height: 40px; }

/* Widgets */
.WIDGET-Canvas, .WIDGET-Chat, .WIDGET-Players { display: inline-block; border: 1px solid black; height: 750px; top: 0; vertical-align: middle; z-index: 999; margin: 0px 5px; border-radius: 30px; }
.WIDGET-Chat { width: 350px; position: relative; z-index: 999; }
.WIDGET-Canvas { margin: 0px 50px;  z-index: 999; }
.WIDGET-Players { width: 350px; z-index: 999; }
.MASTER-GAME-WIDGET { text-align: center; position: relative; width: 100% !important; margin-bottom: 0px; padding-bottom: 0px; padding: 5px 5px 0px 5px; }

/* Canvas */
.TOOL-Item { color: #fff; padding: 5px 2px 5px 5px; }
.TOOL-Item:hover { color: #fff; }
#drawCanvas { border: 1px dotted silver; }
#drawCanvas:hover, #drawCanvas:active { cursor: url(''), pointer; }
#drawCanvas { background: #fcfcfc; border: 1px solid black; display: block; padding: 0px; }
#brushSizeDisplay { display: inline-block; }

.brushSizeDiv { display: inline-block; margin: 0px; font-size: 15px; padding: 0px; }
.slider { -webkit-appearance: none; width: 110px; height: 8px; border-radius: 30px; background: #d3d3d3; padding: 0px; outline: none; margin: 5px; margin-left: -5px; vertical-align: middle;  }
.slider::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 16px; height: 16px; border-radius: 50%; background: #fff; cursor: pointer; }
.slider::-moz-range-thumb { width: 25px; height: 25px; border-radius: 50%; background: #4CAF50; cursor: pointer; }
.TOOL-Icon { padding: 0px; }
.TOOL-MasterSize { border: 1px solid white; padding: 1px 0px 1px 0px; height: 45px; border-radius: 4px; }
.TOOL-MasterItem { border: 1px solid white; margin-right: 20px; border-radius: 4px; height: 45px; }
.TOOL-MasterItem:hover, .TOOL-MasterSize:hover { cursor: pointer; border: 1px solid #4186cf; }

#colorPicker { width: 75px; height: 24px; padding: 2px; margin-left: 4px; border-radius: 5px; outline: none; border: 2px solid black; }

/* Settings */
.SETTING-Icon { font-size: 16px; padding: 4px; }
.SETTING-Button { border: 1px dashed #ccc; display: inline-block; padding: 4px 8px; cursor: pointer; border-radius: 8px; margin: 3px; }

/* Footer */
#SB1 { border: 3px solid rgb(155, 11, 6); } #SB2 { border: 3px solid rgb(23, 95, 7); }
footer { padding: 0px !important; margin: -10px 0px 0px 0px; text-align: center; }
.MB-footer-text { display: inline-block; font-size: 15px; font-style: italic; padding: 0px; margin: 0px; }

/* Disable bad screen sizes */
@media (max-width: 1850px){ 
  #connecterror, #e1, #e2 { display: block !important; } 
  .MASTER-CONNECT-WIDGET, .MASTER-GAME-WIDGET, .TEXT-Title { display: none !important; }
}

/* Rainbow effect */
@-webkit-keyframes rainbow{0%{border:2px solid #a50f0a}20%{border:2px solid #b75007}40%{border:2px solid #c1a503}60%{border:2px solid #1b7507}80%{border:2px solid #3068a5}100%{border:2px solid #5f1e8c}}
.rainbow-color{-webkit-animation:rainbow 60s infinite alternate}
@-webkit-keyframes rainbowcanvas{0%{border:3px solid #a50f0a}20%{border:3px solid #b75007}40%{border:3px solid #c1a503}60%{border:3px solid #1b7507}80%{border:3px solid #3068a5}100%{border:3px solid #5f1e8c}}
.rainbow-color-canvas{-webkit-animation:rainbowcanvas 60s infinite alternate}
@-webkit-keyframes rainbow-footerlink{0%{color:#a50f0a}20%{color:#b75007}40%{color:#c1a503}60%{color:#1b7507}80%{color:#3068a5}100%{color:#5f1e8c}}
.rainbow-color-footerlink{-webkit-animation:rainbow-footerlink 60s infinite alternate}
@-webkit-keyframes rainbow-sizeselector{0%{background:#a50f0a}20%{background:#b75007}40%{background:#c1a503}60%{background:#1b7507}80%{background:#3068a5}100%{background:#5f1e8c}}
.slider {-webkit-animation:rainbow-sizeselector 60s infinite alternate}

